body{
  background-color: whitesmoke;
}
.jumbotron{
background-image: url(../images/gettyimages-1364531717-612x612.jpg);
background-size: cover;
height: 100%;}
.jumbotron .container {
  position:relative;
  top:50px;
}
  

.nav-item{
  background-color: pink;
}

#about h2 {
  margin-bottom: 0.7rem;
  text-align: center;

}

#about p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}


#projects h2 {
  margin-bottom: 0.7rem;
  text-align: center;
}

#projects p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}

#skills h2 {
  margin-bottom: 0.7rem;
  text-align: center;
}

#skills p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}

#contact h2 {
  margin-bottom: 0.7rem;
  text-align: center;
}

#contact p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}

.skills, .about, .contact, .resume, .avatar-wrapper {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.contacts > li {
  display: inline-block;
  gap: 50rem;
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
  overflow: hidden;
}

.contacts > li > a {
  font-weight: var(--bold-font);
}
